<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZENE7u07GcITAX7aSO6dR5sYN8RS-iNk</string>
	<key>GCM_SENDER_ID</key>
	<string>639193032500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testrun</string>
	<key>PROJECT_ID</key>
	<string>fridge-bf293</string>
	<key>STORAGE_BUCKET</key>
	<string>fridge-bf293.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639193032500:ios:011f5532b48289b87ce761</string>
	<key>DATABASE_URL</key>
	<string>https://fridge-bf293-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>